@for (prod of products(); track $index) {
  <h2 [class]="'text-[2.2em] border-l-6 border-l-(--accent) pl-3.75! mt-5! mb-12! uppercase'">{{ prod.title }}</h2>

  <div [class]="'items'">
    @for (item of prod.items; track $index) {
      <div [class]="'items__card'">
        <img [class]="'rounded-t-xl'" [src]="item.imageUrl" [alt]="item.name">
        <div [class]="'w-full p-[20px_0px_20px_25px]!'">
          <h3 [class]="'text-[1.3rem] font-semibold mb-2!'">{{ item.name }}</h3>
          <p [class]="'text-(--text-secondary) text-[0.95rem] mb-6! grow'">{{ item.desc }}</p>
          <p [class]="'text-(--accent) text-[1.4rem] font-bold mb-4!'">{{ item.price | currency:'BRL':'symbol':'1.2-2' }}</p>
          <button [class]="'items__btn'">adicionar</button>

        </div>

      </div>

    }

  </div>

}
