@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --font-bn: "Bebas Neue", sans-serif;

  --bg-body: #0a0a0a;
  --accent: #d32f2f;
  --text-secondary: #a0a0a0;
  --bg-card: #161616;

}

@theme {
  --font-roboto: "Roboto", sans-serif;

}

* {
  @apply m-0 p-0 box-border;

}

html, body {
  @apply bg-(--bg-body) h-dvh w-dvw font-roboto overflow-x-hidden;

}

li {
  @apply list-none

}
